.body-login
	background-color #55acee

.container-login
	text-align center

	h1
		color white
		margin-bottom 20px

	p
		margin 0 0 15px 0

	@import 'imports/wrap-login-signup'
	@import 'imports/error-message'

	.wrap-signup

		h2
			color #797979

		@import 'imports/sign-up-btn'