*
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box

body
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background #f5f8fa
  margin 0
  padding 0

a
  text-decoration none
  color #55acee
  cursor pointer

button
  cursor pointer

li
  list-style none