.content
	float left
	width 800px
	margin-right 50px 

	.avatar
		float left
		margin-right 10px
		width 50px 
		height 50px 
		background-position center
		background-size cover
		border-radius 5px

		img
			// width 50px
			// height 50px
			border-radius 5px

	.wrap-info
		overflow hidden

.username
	display inline-block
	margin 0 0 5px 0
	font-size 16px
	a
		color #484848 

.info
	margin 0
	font-size 20px
	word-wrap break-word

.tweet
	position relative
	clear both
	padding 10px
	margin-bottom 8px
	border-gray()
	transition(null, .3s, ease-out)
	&:hover
		background #e3f0f9 
	&:hover .remove-tweet
		opacity 1

.remove-tweet
	position absolute
	top 0
	right 10px
	font-size 20px
	color #f98b8b
	opacity 0
	cursor pointer
	transition(all, .3s, ease)

	&:hover
		font-size 25px 
		color #e01c1c 

.tweet-date
	margin-left 5px
	font-size 12px 
	color #ccc