.edit-content
	width 600px
	margin 0 auto
	padding 20px 0
	text-align center
	border 1px solid #d0d0d0
	border-radius 3px
	background #fff

	button
		font-size 12px
		border none
		color #55acee
		background none
		outline none

	.edit-profile-button
		padding 5px
		border-radius 5px
		color #fff
		background #55acee
		&:hover
			background #3c9ce6

	.error-message
		display block
		font-size 12px

.edit-list
	margin 0 auto
	padding 0
	width 280px

	li
		list-style none
		margin-bottom 20px
		font-size 12px
		color #ccc

	a
		cursor pointer

	.avatar
		display block
		margin 20px auto
		width 100px 
		height 100px 
		background-position center
		background-size cover
		border-radius 10px 

	.avatar-btn
		display block
		margin 0 auto

.edit-btn
	display inline-block
	text-align center
	padding 5px
	width 105px
	border-radius 5px
	font-size 12px
	color #a1bed4
	background: #e0ebf3

.edit-profile-field
	display block
	color #6C6969
	font-weight bold
	font-size 20px
	word-wrap break-word

.edit-mode
	float right
	width 160px
	margin 0 auto
	color #6C6969
	border none
	border-bottom: 1px dotted #ccc;
	outline-style none
	font-size 16px

.edit-password
	@extend .edit-mode
	float none
	display block
	margin-bottom 10px
	text-align center

.edit-avatar
	margin 20px auto 0 auto
	display block
	width 100px
	height 100px
	border-radius 5px