.container-error
	text-align center
	color #27597f

	h1
		font-size 35px 
		margin-bottom 10px 

	p
		font-size 20px 
		margin 0 

.status-err
	display block
	font-size 80px
	color #a57373

.wrap-twitter-icon
	margin-top 30px

	img
		width 200px