border-gray()
	background white
	-webkit-box-shadow 0 2px 2px #ccc
	-moz-box-shadow 0 2px 2px #ccc
	box-shadow 0 2px 2px #ccc

transition(prop, time, delay)
	-webkit-transition prop time delay
	-moz-transition prop time delay
	-o-transition prop time delay
	-ms-transition prop time delay	
	transition prop time delay
