.body-login
	background #55acee 	

.container-login
	text-align center

	h1
		color white
		margin-bottom 20px 

	.wrap-login,
	.wrap-signup
		margin 0 auto 
		width 280px 
		margin-bottom 20px
		padding 15px
		text-align center
		background white 
		border-radius 5px

		p
			margin 0 0 15px 0

	.wrap-signup
		h2
			color #797979

	input
		padding-left 10px
		width 250px
		height 35px
		font-size 15px
		color #545454 	
		border 1px solid #b9b9b9
		border-radius 5px
		outline none
		&:focus
			border 1px solid #7DB9E6

	input[type=submit]
		border none
		border-radius 5px
		font-weight bold 
		color #fff
		background #55acee
		&:hover
			background #4c9ad3

	.field-err
		border 1px solid #d21111 

	input.btn-signup {
	  background: #ff9f02;
		color: #3A3A3A;
		&:hover { background: #e8950b; }
	}

.error-message
	display inline-block
	margin-top 10px
	color #d21111