.logo
	color #55acee

.main-header
	padding 10px 20px
	margin-bottom 30px
	width 100%
	border-radius 5px 5px 0 0
	border-gray()

	h1
		display inline-block
		margin 0

.main-menu
	float right
	margin-top 8px

	li
		display inline-block
		margin-left 30px
		list-style none

.header-login
	@extend .main-header
	text-align center