.sidebar
	float left
	text-align center
	padding 10px
	margin 0 30px
	border-gray()

	p
		text-align left
		margin-left 15px 

	.avatar
		display inline-block
		margin-bottom 10px
		width 250px 
		height 250px 
		background-position center
		background-size cover
		border-radius 10px 

		img
			// width 250px
			// height 250px
			// border-radius 10px 

	.username
		display block
		font-size 25px

.tweet-area
	width 90%
	height 100px
	margin 10px 0
	padding 10px
	resize none
	outline none
	border 1px solid #ccc
	color #656464

.send-tweet
	width 75px
	height 35px
	border none
	border-radius 5px
	color #fff
	background #55acee

.stat-list
	padding-left 15px

	li
		text-align left
		list-style none

	span
		color #55acee

.container-tweet-area
	position relative

	form
		width 250px 

.max-symbol
	position absolute
	top -5px
	right 15px
	font-size 12px 
	color #55acee

.tweet-counter
	color #d01414

.btn-block,
.btn-block:hover
	opacity .5
	outline none