* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #f5f8fa;
}
a {
  text-decoration: none;
  color: #55acee;
}
.body-login {
  background: #55acee;
}
.container-login {
  text-align: center;
}
.container-login h1 {
  color: #fff;
  margin-bottom: 20px;
}
.container-login .wrap-login,
.container-login .wrap-signup {
  margin: 0 auto;
  width: 280px;
  margin-bottom: 20px;
  padding: 15px;
  text-align: center;
  background: #fff;
  border-radius: 5px;
}
.container-login .wrap-login p,
.container-login .wrap-signup p {
  margin: 0 0 15px 0;
}
.container-login .wrap-signup h2 {
  color: #797979;
}
.container-login input {
  padding-left: 10px;
  width: 250px;
  height: 35px;
  font-size: 15px;
  color: #545454;
  border: 1px solid #b9b9b9;
  border-radius: 5px;
  outline: none;
}
.container-login input:focus {
  border: 1px solid #7db9e6;
}
.container-login input[type=submit] {
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
  background: #55acee;
}
.container-login input[type=submit]:hover {
  background: #4c9ad3;
}
.container-login .field-err {
  border: 1px solid #d21111;
}
.container-login input.btn-signup {
  background: #ff9f02;
  color: #3a3a3a;
}
.container-login input.btn-signup:hover {
  background: #e8950b;
}
.error-message {
  display: inline-block;
  margin-top: 10px;
  color: #d21111;
}
.logo {
  color: #55acee;
}
.main-header,
.header-login {
  padding: 10px 20px;
  margin-bottom: 30px;
  width: 100%;
  border-radius: 5px 5px 0 0;
  background: #fff;
  -webkit-box-shadow: 0 2px 2px #ccc;
  -moz-box-shadow: 0 2px 2px #ccc;
  box-shadow: 0 2px 2px #ccc;
}
.main-header h1,
.header-login h1 {
  display: inline-block;
  margin: 0;
}
.main-menu {
  float: right;
  margin-top: 8px;
}
.main-menu li {
  display: inline-block;
  margin-left: 30px;
  list-style: none;
}
.header-login {
  text-align: center;
}
.sidebar {
  float: left;
  text-align: center;
  padding: 10px;
  margin: 0 30px;
  background: #fff;
  -webkit-box-shadow: 0 2px 2px #ccc;
  -moz-box-shadow: 0 2px 2px #ccc;
  box-shadow: 0 2px 2px #ccc;
}
.sidebar p {
  text-align: left;
  margin-left: 15px;
}
.sidebar .avatar {
  display: inline-block;
  margin-bottom: 10px;
}
.sidebar .avatar img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}
.sidebar .username {
  display: block;
  font-size: 25px;
}
.tweet-area {
  width: 90%;
  height: 100px;
  margin: 10px 0;
  padding: 10px;
  resize: none;
  outline: none;
  border: 1px solid #ccc;
  color: #656464;
}
.send-tweet {
  width: 75px;
  height: 35px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background: #55acee;
}
.stat-list {
  padding-left: 15px;
}
.stat-list li {
  text-align: left;
  list-style: none;
}
.stat-list span {
  color: #55acee;
}
.container-tweet-area {
  position: relative;
}
.container-tweet-area form {
  width: 250px;
}
.max-symbol {
  position: absolute;
  top: -5px;
  right: 15px;
  font-size: 12px;
  color: #55acee;
}
.tweet-counter {
  color: #d01414;
}
.btn-block,
.btn-block:hover {
  opacity: 0.5;
  outline: none;
}
.content {
  overflow: hidden;
  width: 800px;
}
.content .avatar {
  float: left;
  margin-right: 10px;
}
.content .avatar img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
.content .wrap-info {
  overflow: hidden;
}
.username {
  display: inline-block;
  margin: 0 0 5px 0;
  font-size: 16px;
}
.username a {
  color: #484848;
}
.info {
  margin: 0;
  font-size: 20px;
  word-wrap: break-word;
}
.tweet {
  position: relative;
  clear: both;
  padding: 10px;
  margin-bottom: 8px;
  background: #fff;
  -webkit-box-shadow: 0 2px 2px #ccc;
  -moz-box-shadow: 0 2px 2px #ccc;
  box-shadow: 0 2px 2px #ccc;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
}
.tweet:hover {
  background: #e3f0f9;
}
.tweet:hover .remove-tweet {
  opacity: 1;
}
.remove-tweet {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 20px;
  color: #f98b8b;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.remove-tweet:hover {
  font-size: 25px;
  color: #e01c1c;
}
.tweet-date {
  margin-left: 5px;
  font-size: 12px;
  color: #ccc;
}
.container-error {
  text-align: center;
  color: #27597f;
}
.container-error h1 {
  font-size: 35px;
  margin-bottom: 10px;
}
.container-error p {
  font-size: 20px;
  margin: 0;
}
.status-err {
  display: block;
  font-size: 80px;
  color: #a57373;
}
.wrap-twitter-icon {
  margin-top: 30px;
}
.wrap-twitter-icon img {
  width: 200px;
}
