.edit-password
	float none
	width 160px
	text-align center
	display block
	margin 0 auto 10px auto
	border none
	border-bottom: 1px dotted #ccc
	color #6c6969
	outline-style none
	font-size 16px

	// hide placeholder when focus
	&:focus::-webkit-input-placeholder { color:transparent; }
	&:focus:-moz-placeholder { color:transparent; }
	&:focus::-moz-placeholder { color:transparent; }
	&:focus:-ms-input-placeholder { color:transparent; }