.edit-list
	margin 0 auto
	padding 0
	width 280px

	li
		list-style none
		margin-bottom 20px
		font-size 12px
		color #ccc

	a
		cursor pointer

	.edit-profile-field
		display block
		color #6c6969
		font-weight bold
		font-size 20px
		word-wrap break-word