.wrap-login
	form
		p: input(type='text' ng-model='user.username' placeholder='Логин')
		p: input(type='password' ng-model='user.password' placeholder='Пароль')
		input(type='submit' ng-click='login()' value='Войти')
		span(class='error-message' ng-bind='errMsgL')