section.content
	for tweet in tweets.reverse()
		.tweet
			+avatar
			.wrap-info
				h1.username: a(href='/#{user.username}') #{'@'+user.username}
				span.tweet-date {{ #{+tweet.created} | date:'H:mm, dd.MM' }}
				p.info #{tweet.content}