mixin link-nav(url, val)
	li: a(href=url)= val

header.main-header
	h1: a.logo.fa.fa-twitter(href='/')
	ul.main-menu
		+link-nav('/', 'Главная')
		+link-nav(user.username, 'Моя страница')
		li: a(href ng-click='logout()') Выйти