.wrap-signup
	h2: Впервые в Твиттере?
	form(ng-controller='signupCtrl')
		p: input(
			type='text'
			ng-model='fullname'
			placeholder='Имя и фамилия'
		)
		p: input(
			type='text'
			ng-model='email'
			placeholder='Адрес электронной почты'
		)
		p: input(
			type='text'
			ng-model='username'
			placeholder='Логин'
		)
		p: input(
			type='password'
			ng-model='password'
			placeholder='Пароль'
		)
		input(
			type='submit'
			class='btn-signup'
			ng-click='signup()'
			value='Регистрация'
		)
		span(class='error-message' ng-bind='errorMessage')

script(src='/js/signupCtrl.js')