.wrap-login
	form(name='form-login' ng-controller='loginCtrl')
		p: input(type='text' ng-model='username' placeholder='Логин')
		p: input(type='password' ng-model='password' placeholder='Пароль')
		input(type='submit' ng-click='login()' value='Войти')
		span(class='error-message' ng-bind='errorMessage')
		
script(src='/js/loginCtrl.js')