//- MIXINS
include ../includes/data-fields

.main-wrap
	// HEADER
	include ../common/header
	+header
	// CONTENT
	section.friends-content
		div(ng-if='friends')
			h2(ng-if='buttons') Прислали запрос в друзья
			h2(ng-if='!buttons') Ваши друзья
			input.find-friend(type='text' placeholder='Поиск' ng-model='findFriend' ng-show='!buttons')
			ul.friends-list
				li(ng-repeat='friend in friends | filter:findFriend')
					.friend-info
						a(href='/{{friend.username}}')
							span.avatar(style='background-image: url(/img/{{friend.avatar}})')
							span(ng-bind='friend.fullname')
							span @{{friend.username}}
					div(ng-if='buttons')
						button(ng-click='applyQuery(friend.username)') Добавить
						button(ng-click='cancelQuery(friend.username)') Отклонить
		h2(ng-if='!friends') Пока никого нету