//- MIXINS
include ../includes/data-fields

.main-wrap

	// HEADER
	include ../common/header
	//- (search)
	+header(true)

	// SIDEBAR left
	include ../common/sidebar-left
	//- (info, read)
	+sidebar-left(false, false)

	// CONTENT
	include ../common/content
	//- (removeElem, text, admin)
	+content(false, 'Новостей пока нету. Найдите пользователей и нажмите "Читать" →')

	// SIDEBAR right
	include ../common/sidebar-right
	//- (tweet)
	+sidebar-right(false)