.container-tweet-area
	form
		textarea.tweet-area(
			placeholder='Что нового?'
			ng-model='newTweet'
		)
		span.max-symbol(
			ng-class='{ "tweet-counter":  (140 - newTweet.length) < 0 }'
			ng-bind='140 - newTweet.length'
		)
		button.send-tweet(
			type='submit'
			ng-click='addTweet()'
			ng-class='{ "btn-block": (!newTweet.length || newTweet.length > 140) }'
		) Твитнуть
