aside.sidebar
	+avatar
	+username
	p Дата регистрации: <span>{{ #{+user.created} | date:'dd.MM.yyyy' }}</span>
	ul.stat-list
		li Твиты: <span>#{tweets.length}</span>
		li Читаемые: <span></span>
		li Читатели: <span></span>
	include tweet