.content-admin
	float none !important
	margin 0 auto

.content
	float left
	width 700px
	margin-bottom 30px

	.tweet-container
		position relative
		margin-bottom 8px

		@import 'imports/comments'

	.tweet
		clear both
		position relative
		padding 15px 10px
		background white
		border-gray()

		&:hover
			background rgba(#e3f0f9, .5)

		&:hover .remove-tweet
			opacity 1

	.retweeted
		background-color: rgba(#abffab, .3);
		&:hover
			background-color: rgba(#abffab, .3);

	@import 'imports/delete-tweet'
	@import 'imports/avatar'

	.wrap-info
		overflow hidden

		.wrap-info-header
			margin-bottom 5px

			span
				margin-left 5px

			@import 'imports/fullname'
			@import 'imports/username'
			@import 'imports/date'
			@import 'imports/private'

		@import 'imports/info'
		@import 'imports/like'
		@import 'imports/attached'

	@import 'imports/no-info'