.comment
	position relative
	background white
	padding 10px
	border-bottom 1px solid #f0f0f0

	&:hover .remove-comment
		opacity 1 

	.avatar
		width 40px
		height 40px

	.remove-comment
		position absolute
		top 0
		right 10px
		font-size 20px
		color #f98b8b
		opacity 0
		cursor pointer
		transition(all, .3s, ease)

	.like
		right 4px
		font-size 10px
		
	.wrap-info-header

		.fullname
			font-size 14px

		.info
			font-size 16px


.comments-container
	margin-top 5px

	.new-comment-conatiner
		border-top 1px solid #d9e8f1
		background white

	.watch-new-comments
		text-align center
		padding 10px 0
		background #ecf5fa
		color #bcbcca
		cursor pointer

.border-comments
	border 1px solid #aad6f7

.new-comment,
.send-comment,
.show-comments,
.hide-comments
	border none
	outline none

.amount-comments
	position absolute
	right 21px
	top 2px

.new-comment
	width 96%
	padding 10px
	font-size 16px

.send-comment
	padding 8px
	color #55acee
	background none

	&:hover
		color #3e7eaf

.show-comments,
.hide-comments
	position absolute
	right 5px
	bottom 7px
	font-size 12px
	background none 
	color #9a9a9a
	cursor pointer
	opacity .5

	&:hover
		color #3e7eaf