.like,
.retweet
	position absolute
	right 60px
	bottom 6px
	background none
	border none
	font-size 12px
	outline none
	cursor pointer
	opacity .5

	&:hover span
		color red

	span
		color #9a9a9a

	.amount-likes,
	.amount-retweet
		margin-right 3px

.retweet
	right 120px

	&:hover span
		color green


.liked span
	color red

.retweet_ span
	color green