//- MIXINS
include includes/data-fields

.main-wrap(ng-controller='anotherUserCtrl')

	// HEADER
	include common/header
	//- (search)
	+header(true)

	// SIDEBAR left
	include common/sidebar-left
	//- (info, read)
	+sidebar-left(true, true)

	// CONTENT
	include common/content
	+content(false, 'Пользователь пока ничего не твитил')