extends layout

block content

	//- MIXINS
	include mixins/avatar

	body
		script(src='/js/controllers/editCtrl.js')
		.main-wrap(ng-controller='editCtrl')
			// HEADER
			include common/header
			+header
			// EDIT
			include includes/edit-profile/edit-content