extends layout

block content

	body
		// HEADER
		include includes/error/header-error

		.container-error
			h1= error.message
			p Извините, произошла ошибка
			strong.status-err= error.status
			.wrap-twitter-icon
				a.twitter-icon(href='/')
						img(src='/img/twitter.png')