extends layout

block content

	//- MIXINS
	include includes/data-fields

	body
		script(src='/js/controllers/anotherUserCtrl.js')
		.main-wrap(ng-controller='anotherUserCtrl')
			// HEADER
			include common/header
			+header
			// CONTENT
			section.friends-content
				if friends
					if buttons
						h2 Добавили вас в друзья
					else
						h2 Ваши друзья
					ul.friends-list
						each friend in friends
							li
								.friend-info
									a.avatar(ng-href='/#{friend.username}' style='background-image: url(/img/#{friend.avatar})')
									a(ng-href='/#{friend.username}' ng-bind='"#{friend.fullname}"')
								if buttons
									button(ng-click='applyQuery("#{friend.username}")') Добавить
									button(ng-click='cancelQuery("#{friend.username}")') Отклонить
				else
					h2 Пока никого нету