extends layout

block content

	//- MIXINS
	include includes/data-fields

	body
		script(src='/js/controllers/homeCtrl.js')
		.main-wrap(ng-controller='homeCtrl')
			// HEADER
			include common/header
			+header
			// SIDEBAR left
			include common/sidebar-left
			//- (info, read)
			+sidebar-left(false, false)
			// CONTENT
			section.content
				if tweets
					each tweet in tweets
						.tweet
							a.avatar(href='/#{tweet.user.username}' style={ 'background-image': 'url(/img/#{tweet.user.avatar})' })
							.wrap-info
								.wrap-info-header
									h1.fullname: a(href='/#{tweet.user.username}') #{tweet.user.fullname}
									h2.username: a(href='/#{tweet.user.username}') @#{tweet.user.username}
									span.tweet-date {{ #{+tweet.created} | date:'H:mm, dd.MM' }}
									if tweet.private
										span.star-private ★
								p.info= tweet.content
				else
					.tweet.no-news
						.wrap-info
							p.info Новостей пока нету. Найдите пользователей и нажмите "Читать" →
			// SIDEBAR right
			include common/sidebar-right
			//- (tweet)
			+sidebar-right(false)