extends layout

block content

	body

		div.view-container
			div.view-frame(ng-view)

		script(src='/vendor/bower_components/socket.io-client/socket.io.js')
		script.
			  var socket = io();
			  socket.on('logout', function() {
			    location.href = "/";
			  });