doctype html
html(ng-app='twitterApp')
	head
		title Твиттер
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(charset='utf-8')
		base(href='/')
		include ./includes/styles

	block content

	include ./includes/scripts