extends layout

block content

	body.body-login

		// HEADER
		include includes/login/header-login
		// LOGIN
		.container-login(ng-controller='loginCtrl')
			h1 Добро пожаловать в Твиттер!
			include includes/login/signin
			include includes/login/signup

		script(defer src='/js/services/Auth.js')
		script(defer src='/js/controllers/loginCtrl.js')