extends layout

block content

	//- MIXINS
	include includes/data-fields

	body
		script(src='/js/controllers/userCtrl.js')
		.main-wrap(ng-controller='userCtrl')
			// HEADER
			include common/header
			+header
			// SIDEBAR left
			include common/sidebar-left
			//- (info, read)
			+sidebar-left(true, false)
			// CONTENT
			include common/content
			+content(true, 'Вы пока ничего не твитили')
			// SIDEBAR right
			include common/sidebar-right
			//- (tweet)
			+sidebar-right(true)