extends layout

block content

	//- MIXINS
	include mixins/avatar
	include mixins/username

	body
		script(src='/js/controllers/usersCtrl.js')
		.main-wrap(ng-controller='usersCtrl')
			// HEADER
			include common/header
			+header
			// CONTENT
			include includes/users/users-content