* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #f5f8fa;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #55acee;
}
button {
  cursor: pointer;
}
li {
  list-style: none;
}
.container-error {
  text-align: center;
  color: #27597f;
}
.container-error h1 {
  font-size: 35px;
  margin-bottom: 10px;
}
.container-error p {
  font-size: 20px;
  margin: 0;
}
.container-error .status-err {
  display: block;
  font-size: 80px;
  color: #a57373;
}
.container-error .wrap-twitter-icon {
  margin-top: 30px;
}
.container-error .wrap-twitter-icon img {
  width: 200px;
}
.body-login {
  background-color: #55acee;
}
.container-login {
  text-align: center;
}
.container-login h1 {
  color: #fff;
  margin-bottom: 20px;
}
.container-login p {
  margin: 0 0 15px 0;
}
.container-login .wrap-login,
.container-login .wrap-signup {
  margin: 0 auto;
  width: 280px;
  margin-bottom: 20px;
  padding: 15px;
  text-align: center;
  background: #fff;
  border-radius: 5px;
}
.container-login .wrap-login input,
.container-login .wrap-signup input {
  padding-left: 10px;
  width: 250px;
  height: 35px;
  font-size: 15px;
  color: #545454;
  border: 1px solid #b9b9b9;
  border-radius: 5px;
  outline: none;
}
.container-login .wrap-login input:focus,
.container-login .wrap-signup input:focus {
  border-color: #7db9e6;
}
.container-login .wrap-login input[type=submit],
.container-login .wrap-signup input[type=submit] {
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
  background-color: #55acee;
}
.container-login .wrap-login input[type=submit]:hover,
.container-login .wrap-signup input[type=submit]:hover {
  background-color: #4c9ad3;
}
.container-login .error-message {
  display: inline-block;
  margin-top: 10px;
  color: #d21111;
}
.container-login .wrap-signup h2 {
  color: #797979;
}
.container-login .wrap-signup input.btn-signup {
  background: #ff9f02;
  color: #3a3a3a;
}
.container-login .wrap-signup input.btn-signup:hover {
  background: #e8950b;
}
.edit-content,
.users-content {
  width: 600px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  background: #fff;
}
.edit-content button {
  font-size: 12px;
  border: none;
  color: #55acee;
  background: none;
  outline: none;
}
.edit-content .edit-list {
  margin: 0 auto;
  padding: 0;
  width: 280px;
}
.edit-content .edit-list li {
  list-style: none;
  margin-bottom: 20px;
  font-size: 12px;
  color: #ccc;
}
.edit-content .edit-list a {
  cursor: pointer;
}
.edit-content .edit-list .edit-profile-field {
  display: block;
  color: #6c6969;
  font-weight: bold;
  font-size: 20px;
  word-wrap: break-word;
}
.edit-content .edit-mode {
  float: right;
  width: 160px;
  margin: 0 auto;
  color: #6c6969;
  border: none;
  border-bottom: 1px dotted #ccc;
  outline-style: none;
  font-size: 16px;
}
.edit-content .edit-profile-button {
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  background-color: #55acee;
}
.edit-content .edit-profile-button:hover {
  background-color: #3c9ce6;
}
.edit-content .edit-avatar {
  margin: 20px auto 0 auto;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 5px;
}
.edit-content .edit-password {
  float: none;
  width: 160px;
  text-align: center;
  display: block;
  margin: 0 auto 10px auto;
  border: none;
  border-bottom: 1px dotted #ccc;
  color: #6c6969;
  outline-style: none;
  font-size: 16px;
}
.edit-content .avatar {
  display: block;
  margin: 20px auto;
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
.edit-content .avatar-btn {
  display: block;
  margin: 0 auto;
}
.edit-content .error-message {
  display: block;
  color: #f00;
  font-size: 12px;
}
.users-content .find-user {
  margin-bottom: 30px;
  outline: none;
}
.users-content .users-list {
  width: 400px;
  margin: 0 auto;
  padding: 0;
}
.users-content .users-list li {
  list-style: none;
  margin-bottom: 5px;
}
.users-content .users-list a:hover {
  text-decoration: underline;
}
.friends-content {
  width: 900px;
  text-align: center;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #ccc;
}
.friends-content h2 {
  color: #676767;
}
.friends-content .friends-list {
  width: 90%;
  margin: 0 auto;
  padding: 0;
}
.friends-content .friends-list li {
  display: inline-block;
  margin: 0 20px 20px 0;
}
.friends-content .friends-list .friend-info {
  margin-bottom: 10px;
}
.friends-content .friends-list .friend-info a {
  display: block;
  color: #45454a;
  font-size: 12px;
  font-weight: 400;
}
.friends-content .friends-list button {
  display: block;
  width: 100%;
  font-size: 12px;
  color: #55acee;
  border: none;
  background: none;
  outline: none;
}
.friends-content .friends-list button:hover {
  color: #8bbfe6;
}
.friends-content .friends-list .avatar {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}
.header-login,
.main-header {
  padding: 10px 20px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 5px 5px 0 0;
  background: #fff;
  -webkit-box-shadow: 0 2px 2px #ccc;
  -moz-box-shadow: 0 2px 2px #ccc;
  box-shadow: 0 2px 2px #ccc;
}
.main-header h1 {
  display: inline-block;
  margin: 0;
}
.main-header .logo {
  color: #55acee;
}
.main-header .main-menu {
  float: right;
  margin-top: 8px;
}
.main-header .main-menu li {
  display: inline-block;
  margin-left: 30px;
  list-style: none;
}
.header-login {
  text-align: center;
}
.header-login h1 {
  margin: 0;
}
.content {
  float: left;
  width: 700px;
}
.content .tweet {
  clear: both;
  position: relative;
  padding: 11px 10px;
  margin-bottom: 8px;
  background: #fff;
  -webkit-box-shadow: 0 2px 2px #ccc;
  -moz-box-shadow: 0 2px 2px #ccc;
  box-shadow: 0 2px 2px #ccc;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.content .tweet:hover {
  background: #e3f0f9;
}
.content .tweet:hover .remove-tweet {
  opacity: 1;
}
.content .remove-tweet {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 20px;
  color: #f98b8b;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.content .remove-tweet:hover {
  font-size: 25px;
  color: #e01c1c;
}
.content .avatar {
  float: left;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}
.content .avatar img {
  border-radius: 5px;
}
.content .wrap-info {
  overflow: hidden;
}
.content .wrap-info .wrap-info-header {
  margin-bottom: 5px;
}
.content .wrap-info .wrap-info-header span {
  margin-left: 5px;
}
.content .wrap-info .wrap-info-header .fullname {
  display: inline-block;
  margin: 0 5px 0 0;
  font-size: 16px;
}
.content .wrap-info .wrap-info-header .fullname a {
  color: #000;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  -ms-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
.content .wrap-info .wrap-info-header .fullname a:hover {
  color: #55acee;
}
.content .wrap-info .wrap-info-header .username {
  display: inline-block;
  margin: 0;
  font-size: 14px;
}
.content .wrap-info .wrap-info-header .username a {
  color: #5981a0;
}
.content .wrap-info .wrap-info-header .tweet-date {
  font-size: 12px;
  color: #ccc;
}
.content .wrap-info .wrap-info-header .star-private {
  color: #ecb715;
}
.content .wrap-info .info {
  margin: 0;
  font-size: 18px;
  word-wrap: break-word;
}
.content .no-news {
  padding: 50px 0;
  text-align: center;
}
.content .no-news .info {
  font-size: 16px;
  font-weight: bold;
  color: #717070;
}
.sidebar,
.sidebar-right {
  float: left;
  width: 250px;
  text-align: center;
  padding: 10px;
  margin: 0 30px;
  background: #fff;
  -webkit-box-shadow: 0 2px 2px #ccc;
  -moz-box-shadow: 0 2px 2px #ccc;
  box-shadow: 0 2px 2px #ccc;
}
.sidebar .fullname,
.sidebar .username,
.sidebar .email {
  margin-bottom: 5px;
  font-size: 0;
}
.sidebar .avatar {
  display: inline-block;
  width: 230px;
  height: 230px;
  margin-bottom: 10px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
.sidebar .fullname a {
  font-size: 20px;
  color: #000;
}
.sidebar .email span {
  font-size: 14px;
  color: #000;
}
.sidebar .username a {
  font-size: 14px;
  color: #5981a0;
}
.sidebar p {
  text-align: left;
  margin-left: 15px;
}
.sidebar .stat-list {
  padding-left: 15px;
}
.sidebar .stat-list li {
  width: 70px;
  font-size: 12px;
  text-align: left;
  list-style: none;
}
.sidebar .stat-list span {
  float: right;
  color: #55acee;
}
.sidebar .btn-follow-friend-container {
  margin: 10px auto 0 auto;
}
.sidebar .btn-follow-friend-container button {
  margin: 0 5px;
  vertical-align: top;
}
.sidebar .btn-follow-friend-container .container-apply-friend {
  width: 190px;
  margin: 10px auto 0 auto;
}
.sidebar .btn-follow-friend-container .container-apply-friend button {
  display: inline-block;
  font-size: 12px;
  color: #55acee;
  border: none;
  background: none;
  outline: none;
}
.sidebar .btn-follow-friend-container .container-apply-friend button:hover {
  color: #8bbfe6;
}
.sidebar .btn-follow-friend-container .container-apply-friend p {
  text-align: center;
  margin: 0;
}
.sidebar .btn-follow-friend-container .follow,
.sidebar .btn-follow-friend-container .add-friend {
  width: 90px;
  height: 40px;
  border: none;
  border-bottom: 2px solid #bbb;
  border-radius: 5px;
  font-weight: bold;
  color: #696969;
  background-color: #e4ebf5;
  outline-color: #55acee;
}
.sidebar .btn-follow-friend-container .follow:hover,
.sidebar .btn-follow-friend-container .add-friend:hover {
  opacity: 0.8;
}
.sidebar .btn-follow-friend-container .unfollow,
.sidebar .btn-follow-friend-container .remove-friend {
  width: 90px;
  height: 40px;
  border: none;
  border-bottom: 2px solid #bbb;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
  background-color: #83caff;
  outline-color: #55acee;
}
.sidebar .btn-follow-friend-container .unfollow:hover,
.sidebar .btn-follow-friend-container .remove-friend:hover {
  background-color: #ca2e47;
  border-color: #ab253b;
}
.sidebar .btn-follow-friend-container .reader {
  width: 90px;
  height: 40px;
  border: none;
  border-bottom: 2px solid #bbb;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
  background-color: #83caff;
  outline: none;
  cursor: auto;
}
.sidebar-right a {
  display: block;
  text-align: center;
  margin-bottom: 6px;
  border-radius: 5px;
  font-size: 12px;
  color: #a1bed4;
}
.sidebar-right a:hover {
  text-decoration: underline;
}
.sidebar-right .container-tweet-area {
  position: relative;
  margin: 20px auto 0 auto;
  width: 220px;
}
.sidebar-right .container-tweet-area .tweet-area {
  width: 100%;
  height: 100px;
  margin: 10px 0;
  padding: 10px;
  font-family: Helvetica, Arial, sans-serif;
  resize: none;
  outline: none;
  border: 1px solid #ccc;
  color: #656464;
}
.sidebar-right .container-tweet-area input[type='checkbox'],
.sidebar-right .container-tweet-area label,
.sidebar-right .container-tweet-area .max-symbol {
  position: absolute;
  font-size: 12px;
  color: #55acee;
}
.sidebar-right .container-tweet-area input[type='checkbox'] {
  top: -8px;
  left: -3px;
}
.sidebar-right .container-tweet-area label {
  top: -7px;
  left: 20px;
}
.sidebar-right .container-tweet-area .max-symbol {
  top: -5px;
  right: 5px;
}
.sidebar-right .container-tweet-area .tweet-counter {
  color: #d01414;
}
.sidebar-right .container-tweet-area .send-tweet {
  width: 75px;
  height: 35px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #55acee;
}
.sidebar-right .container-tweet-area .btn-block,
.sidebar-right .container-tweet-area .btn-block:hover {
  opacity: 0.5;
  outline: none;
  cursor: auto;
}
