.friends-content
	width 900px
	text-align center
	margin 0 auto
	background white
	border 1px solid #ccc

	@import 'imports/search'

	h2
		color #676767

	.friends-list
		width 90%
		margin 0 auto
		padding 0

		li
			display inline-block
			margin 0 20px 20px 0

		.friend-info
			margin-bottom 10px

			a
				display block
				color #45454a
				font-size 12px
				font-weight 400

			span
				display block

		button
			display block
			width 100%
			font-size 12px
			color #55acee
			border none
			background none
			outline none

			&:hover
				color #8bbfe6

		.avatar
			width 70px
			height 70px
			margin 0 auto
			background-position center
			background-size cover
			border-radius 5px