.container-attach
  text-align right
  margin-top 20px

  span
    font-size 12px
    color #696969
  
  .attach-img
    border none
    background none
    color #55acee
    outline-style none

    &:hover
      color #5f5f5f

  .clear-attached
    font-size 14px
    border none
    background none
    outline-style none
    color #c74444