.container-tweet-area
	position relative
	margin 20px auto 0 auto
	width 220px

	.tweet-area
		width 100%
		height 100px
		margin 10px 0
		padding 10px
		font-family Helvetica, Arial, sans-serif
		resize none
		outline none
		border 1px solid #ccc
		color #656464

	input[type='checkbox'],
	label,
	.max-symbol
		position absolute
		font-size 12px
		color #55acee

	input[type='checkbox']
		top -8px
		left -3px

	label
		top -7px
		left 20px

	.max-symbol
		top -5px
		right 5px

	.tweet-counter
		color #d01414

	.send-tweet
		width 75px
		height 35px
		display block
		margin 0 auto
		border none
		border-radius 5px
		color #fff
		background-color #55acee

	.btn-block,
	.btn-block:hover
		opacity .5
		outline none
		cursor auto