.header-login,
.main-header
	padding 10px 20px
	margin-bottom 20px
	width 100%
	border-radius 5px 5px 0 0
	border-gray()

.main-header
	@import 'imports/logo'
	@import 'imports/menu'
	@import 'imports/search'

.header-login
	text-align center

	h1
		margin 0