.admin-users,
.admin-tweets
	display inline-block
	padding 10px 0
	margin 5px 0
	border 1px solid #83b7de
	border-bottom 4px solid #83b7de
	border-radius 5px
	font-weight bold
	color #fff
	background-color #a6cbe6 

	p
		margin 0
		width 120px

	span
		display block
		font-size 24px
		color #3f80b1