input[type='text']
	display inline-block
	width 200px
	padding 5px
	font-size 14px
	margin 0 auto
	outline-color #55acee

label
	font-size 12px

button
	width 20px
	padding 7px 0
	vertical-align bottom
	border none
	color darkgrey
	background none
	outline none

	&:hover
		color #777

ul
	text-align left

	li
		display inline-block
		vertical-align top
		text-align center
		margin 0 10px 10px 0

		a
			display block
			text-align center
			font-size 12px

		button
			display inline-block
			opacity .7

.avatar
	display inline-block
	width 50px
	height 50px
	background-position center
	background-size cover
	border-radius 5px

.wrap-bts-block-remove-user
	width 40px
	margin 0 auto