section.users-content
	input.find-user(type='text' placeholder='Найти пользователя' ng-model='findUser' autofocus)
	ul.users-list
		li(ng-repeat='username in #{usernames} | filter:findUser'): a(ng-href='/{{username}}' ng-bind='username')