.edit-content,
.users-content
	width 600px
	margin 0 auto
	padding 20px 0
	text-align center
	border 1px solid #d0d0d0
	border-radius 3px
	background #fff

.edit-content

	button
		font-size 12px
		border none
		color #55acee
		background none
		outline none

	@import 'imports/fields'
	@import 'imports/edit-mode'
	@import 'imports/edit-btn'
	@import 'imports/edit-avatar'
	@import 'imports/edit-password'
	@import 'imports/avatar'
	@import 'imports/error-message'