.wrap-login,
.wrap-signup
	margin 0 auto
	width 280px
	margin-bottom 20px
	padding 15px
	text-align center
	background white
	border-radius 5px

	input
		padding-left 10px
		width 250px
		height 35px
		font-size 15px
		color #545454
		border 1px solid #b9b9b9
		border-radius 5px
		outline none

		&:focus
			border-color #7db9e6

	input[type=submit]
		border none
		border-radius 5px
		font-weight bold 
		color #fff
		background-color #55acee

		&:hover
			background-color #4c9ad3