.find-user
	padding 2px
	border-radius 5px
	border 1px solid #ccc
	outline-color #55acee
	color #848181

.users-list
	position absolute
	right 0
	padding 0
	background #f5f8fa
	border 1px solid #ccc
	z-index 2

	li
		width 300px
		margin 0
		padding 5px
		border-bottom 1px solid #ccc

		&:last-child
			border none

		&:hover
			background-color #dee9f1

		a
			display block
			font-size 16px

	.avatar
		display inline-block
		margin-right 10px
		width 50px
		height 50px
		background-position center
		background-size cover
		border-radius 5px

	.wrap-names
		display inline-block
		vertical-align top

		.fullname,
		.username
			display inline-block
			margin 0

		.fullname
			font-weight 300

		span
			display block
			font-size 12px

