mixin comments

	- var addComment = 'addComment(sessionUser, tweet._id, newComment); newComment = ""'
	- var isSessionUser = 'user._id == sessionUser'

	//- comments container
	.comments-container(
		ng-show='isShowing(idxTweet) && toggleComments[idxTweet]'
		ng-class="{ 'border-comments': tweet.comments.length }"
	)


		//- comments
		.comment(ng-repeat='comment in tweet.comments')

			//- remove comment
				//- 1. user is admin (isAdmin)
				//- 2. comment of session user (comment.user._id == sessionUser)
				//- 3. pathname != '/' (notHome)
				//- 3. current page user is session user (user._id == sessionUser)
			span.remove-comment(
				ng-click='deleteComment(comment._id, sessionUser)'
				ng-if='#{isAdmin} || comment.user._id == sessionUser && (notHome || #{isSessionUser}) || (#{isSessionUser} && notHome)'
			) ×

			//- user avatar
			a.avatar(
				href='/{{comment.user.username}}'
				ng-style="{ 'background-image': 'url(/img/{{comment.user.avatar}})' }"
			)

			//- information comment
			.wrap-info
				.wrap-info-header
					h1.fullname: a(href='/{{comment.user.username}}' ng-bind='comment.user.fullname')
					span.tweet-date {{ comment.created | date:'H:mm, dd.MM' }}
				p.info(ng-bind='comment.content')

				//- like comment
				button.like(
					ng-click='likeComment(comment._id)'
					ng-class='{ "liked": comment.likes.indexOf(sessionUser) >= 0 }'
				)
					span.amount-likes(ng-bind='comment.likes.length' ng-if='comment.likes.length')
					span(class='fa fa-heart')

		.watch-new-comments(ng-click='showNotificationComments(tweet._id)' ng-if='newComments[tweet._id].length')
			| Показать новые комментарии ({{newComments[tweet._id].length}})

		//- input comment
		.new-comment-conatiner
			input.new-comment(type='text' ng-model='newComment' enter='#{addComment}' placeholder='Комментарий')

			//- send comment
			button.send-comment(class='fa fa-plus' ng-click='#{addComment}')