mixin content(removeElem, text, admin)

	section.content(ng-class='{ "content-admin": #{admin} }')

		div(ng-if='tweets.length')

			//- tweet container
			.tweet-container(ng-repeat='(idxTweet, tweet) in tweets track by $index')

				//- tweet
				.tweet.no-animate-extra(
					ng-style='toggleComments[idxTweet] && {"background": "#ecf5fa"}'
					ng-class='{ "retweeted": (tweet.user._id != user._id) && notHome && !pathAdmin }'
				)
					if removeElem || isAdmin || admin
						span.remove-tweet(ng-click='deleteTweet(user._id, tweet._id)' ng-if='tweet.user._id == user._id || pathAdmin') ×
						span.remove-tweet(ng-click='deleteRetweet(user._id, tweet._id)' ng-if='tweet.user._id != user._id && !pathAdmin') ×

					+avatar({url: '{{tweet.user.username}}', img: '{{tweet.user.avatar}}'})

					//- information tweet
					.wrap-info
						.wrap-info-header

							+fullname({url: '{{tweet.user.username}}', val: 'tweet.user.fullname'})

							+username({url: '{{tweet.user.username}}', val: '{{tweet.user.username}}'})

							//- date
							span.tweet-date {{ tweet.created | date:'H:mm, dd.MM' }}

							//- ★ star if tweet for friends
							span.star-private(ng-if='tweet.private') ★

						//- tweet content
						p.info(ng-bind-html='tweet.content')

						//- attach image
						.container-attached(ng-if='tweet.image')
							img(src='img/attached/{{tweet.image}}')

						//- retweet
						div(ng-if='(sessionUser != tweet.user._id && pathAdmin) || pathHome || (sessionUser != tweet.user._id && anotherUser)')
							button.retweet(
								ng-click='retweet(sessionUser, tweet._id)'
								ng-class='{ "retweet_": tweet.retweets.indexOf(sessionUser) >= 0 }'
							)
								span.amount-retweet(ng-bind='tweet.retweets.length' ng-if='tweet.retweets.length')
								span(class='fa fa-retweet')

						//- like
						button.like(
							ng-click='like(tweet._id)'
							ng-class='{ "liked": tweet.likes.indexOf(sessionUser) >= 0 }'
						)
							span.amount-likes(ng-bind='tweet.likes.length' ng-if='tweet.likes.length')
							span(class='fa fa-heart')

						//- buttons for show and hide comments
						include show-hide-comments
						+show-hide-comments

				//- comments
				include comments
				+comments

		//- show if there aren't tweets
		.tweet.no-news(ng-if='!tweets.length')
			.wrap-info
				p.info= text