mixin header(search)
	header.main-header
		h1: a.logo.fa.fa-twitter(href='/')
		ul.main-menu

			if search
				li
					//- search
					input.find-user(type='text' placeholder='Поиск пользователя' ng-model='userKeyword' ng-change='search(userKeyword)')

					//- found users
					ul.users-list(ng-if='userKeyword.length')
						li(ng-repeat='user in users')

							+avatar({url: '{{user.username}}', img: '{{user.avatar}}'})

							.wrap-names
								+fullname({url: '{{user.username}}', val: 'user.fullname'})
								+username({url: '{{user.username}}', val: '{{user.username}}'})

								span Читателей {{user.followers.length}}
								span Друзей {{user.friends.length}}

			li: a(href='/') Главная
			li: a(href='/' + user.username) Моя страница
			li: a(ng-click='logout()') Выйти