mixin show-hide-comments

	//- show comments
	button.show-comments(ng-click='showComments(idxTweet)' ng-hide='toggleComments[idxTweet]')
		span.amount-comments(ng-bind='tweet.comments.length')
		span(class='fa fa-comment')

	//- hide comments
	button.hide-comments(ng-click='hideComments(idxTweet)' ng-show='toggleComments[idxTweet]')
		span(class='fa fa-minus')