mixin sidebar-left(info, read)

	aside.sidebar

		+avatar({url: '{{user.username}}', img: '{{user.avatar}}'})

		+fullname({url: '{{user.username}}', val: 'user.fullname'})

		+email

		+username({url: '{{user.username}}', val: '{{user.username}}'})

		//- user information
		if info
			p Дата регистрации: <span>{{ user.created | date:'dd.MM.yyyy' }}</span>
			ul.stat-list
				li Твиты: <span ng-bind='amountTweets'></span>
				li Читаемые: <span ng-bind='user.follows.length'></span>
				li Читатели: <span ng-bind='user.followers.length'></span>
				li Друзья: <span ng-bind='user.friends.length'></span>

		//- buttons
		if read
			.btn-follow-friend-container
				button.follow(
					ng-click='follow(user._id)'
					ng-if='buttons.toggleFollow'
				) Читать
				button.unfollow(
					ng-click='unfollow(user._id)'
					ng-bind='read'
					ng-mouseover='read = "Отмена"'
					ng-mouseleave='read = "Читаю"'
					ng-if='buttons.toggleUnfollow'
				)
				button.reader(
					ng-bind='read'
					ng-if='buttons.toggleReader'
				)
				button.add-friend(
					ng-click='addFriend(user._id)'
					ng-if='buttons.toggleFriend'
				) В друзья
				button.add-friend(
					ng-click='cancelQueryFriend(user._id)'
					ng-show='buttons.toggleCancelFriend'
					ng-if='buttons.toggleCancelFriend'
				) Отмена запроса
				button.remove-friend(
					ng-click='removeFriend(user._id)'
					ng-bind='friend'
					ng-mouseover='friend = "Отмена"'
					ng-mouseleave='friend = "Друг"'
					ng-if='buttons.toggleRemoveFriend'
				)
				.container-apply-friend(ng-if='buttons.buttons')
					p Добавить в друзья?
					button(ng-click='applyQuery(user.username)') Добавить
					button(ng-click='cancelQuery(user.username)') Отклонить