mixin sidebar-right(tweet)

	- var addTweet = 'addTweet(user._id)'

	aside.sidebar-right
		
		.wrap-nav-sidebar-right
			if user.isAdmin
				a(href='/admin') Администрирование
			a(href='/friends') Друзья
			a(href='/friends_queries' ng-if='user.queryFriends.length')
				| Хотят дружить 
				span (+{{user.queryFriends.length}})
			a(href='/edit_profile') Редактировать профиль

			if tweet
				.container-tweet-area
					form
						textarea.tweet-area(
							placeholder='Что нового?'
							ng-model='newTweet'
							enter='#{addTweet}'
						)
						input(
							type='checkbox'
							id='private'
							ng-model='forFriends'
							ng-init='forFriends = false'
						)
						label(for='private') только для друзей
						span.max-symbol(
							ng-class='{ "tweet-counter":  (140 - newTweet.length) < 0 }'
							ng-bind='140 - newTweet.length'
						)
						button.send-tweet(
							type='submit'
							ng-click='#{addTweet}'
							ng-class='{ "btn-block": (!newTweet.length || newTweet.length > 140) }'
						) Твитнуть
						.container-attach
							span(ng-show='attachedImg') прикреплено фото
							button.clear-attached(ng-click='clearAttached()' ng-show='attachedImg' class='fa fa-times')
							button.attach-img(class='fa fa-camera' onclick="document.getElementById('attach-img').click(); return false;")
							input(type="file" file-model='attachedImg' accept='image/*' id='attach-img' style='display: none')

		.watch-new-tweets(ng-click='showNotificationTweets()' ng-if='newTweets.length')
			| Посмотреть новые твиты ({{newTweets.length}})