.sidebar,
.sidebar-right
	float left
	width 250px
	text-align center
	padding 10px
	margin 0 30px
	border-gray()

@import 'sidebar-left'
@import 'sidebar-right'
@import 'sidebar-right/watch-new-tweets'