.sidebar

	.fullname,
	.username,
	.email
		margin-bottom 5px
		font-size 0

	@import 'sidebar-left/avatar'
	@import 'sidebar-left/fullname'
	@import 'sidebar-left/email'
	@import 'sidebar-left/username'

	p
		text-align left
		margin-left 15px

	@import 'sidebar-left/profile-nav'

	.btn-follow-friend-container
		margin 10px auto 0 auto

		button
			margin 0 5px
			vertical-align top

		@import 'sidebar-left/apply-friend'
		@import 'sidebar-left/follow-friend'
		@import 'sidebar-left/unfollow-friend'