section.edit-content

	ul.edit-list

		// FULLNAME
		li
			| Имя и фамилия:
			span.edit-profile-field(ng-hide='toggle' ng-bind='user.fullname')
			input.edit-mode(type='text' ng-show='toggle' ng-model='editedFullname')

		// USERNAME
		li
			| Логин:
			span.edit-profile-field(ng-hide='toggle') @{{ user.username }}
			input.edit-mode(type='text' ng-show='toggle' ng-model='editedUsername')

		// EMAIL
		li
			| Email:
			span.edit-profile-field(ng-hide='toggle' ng-bind='user.email')
			input.edit-mode(type='text' ng-show='toggle' ng-model='editedEmail')

	button.edit-profile-button(
		ng-hide='toggle'
		ng-click='editMode(user.fullname, user.username, user.email)'
	) Редактировать
	button(ng-show='toggle' ng-click='editSave(user._id)') Сохранить
	button(ng-show='toggle' ng-click='cancelSave()') Отменить

	ul.edit-list
		// AVATAR
		li
			p Ваш аватар

			+avatar({url: '{{user.username}}', img: '{{user.avatar}}'})
			
			button.avatar-btn(onclick="document.getElementById('fileAvatar').click(); return false;") Выбрать фото
			input(
				type="file"
				file-model='avatar'
				id='fileAvatar'
				style='display: none'
				ngf-select="showChangeAvaBtn()"
			)
			button.avatar-btn(type='submit' ng-click='changeAvatar(user._id)' ng-hide='toggleSubmitAvatar') Изменить
			button.avatar-btn(ng-show='user.avatar != "avatar.png"' ng-click='deleteAvatar(user._id)') Удалить фото

		// PASSWORD
		li
			a.edit-user-data(ng-hide='togglePassword' ng-click='editPassword()') Изменить пароль
			input.edit-password(type='password' ng-show='togglePassword' ng-model='oldPassword' placeholder='Текущий пароль')
			input.edit-password(type='password' ng-show='togglePassword' ng-model='newPassword' placeholder='Новый пароль')
			button(ng-show='togglePassword' ng-click='changePassword(user._id)') Сохранить
			button(ng-show='togglePassword' ng-click='cancelChange()') Отменить

		// DELETE PROFILE
		li
			a.edit-user-data(ng-click='deleteProfile(user._id)') Удалить профиль

	span(class='error-message' ng-bind='errorMessage')