.container-apply-friend
	width 190px
	margin 10px auto 0 auto

	button
		display inline-block
		font-size 12px
		color #55acee
		border none
		background none
		outline none

		&:hover
			color #8bbfe6

	p
		text-align center
		margin 0