.follow,
.add-friend
	width 90px
	height 40px
	border none
	border-bottom 2px solid #bbb
	border-radius 5px
	font-weight bold
	color #696969
	background-color #e4ebf5
	outline-color #55acee

	&:hover
		opacity .8