.unfollow
	// @extend .follow
	width 90px
	height 40px
	border none
	border-bottom 2px solid #bbb
	border-radius 5px
	font-weight bold
	color #696969
	background #e4ebf5
	outline-color #55acee

	color white
	background-color #83caff

	&:hover
		background-color #ca2e47
		border-bottom 2px solid #ab253b