.unfollow,
.remove-friend
	width 90px
	height 40px
	border none
	border-bottom 2px solid #bbb
	border-radius 5px
	font-weight bold
	color white
	background-color #83caff
	outline-color #55acee

	&:hover
		background-color #ca2e47
		border-color #ab253b

.reader
	width 90px
	height 40px
	border none
	border-bottom 2px solid #bbb
	border-radius 5px
	font-weight bold
	color white
	background-color #83caff
	outline none
	cursor auto