.main-wrap
	// HEADER
	include ../../common/header
	+header

	// CONTENT
	section.admin-users-tweets
		a.admin-users(href='/admin/users') 
			p Пользователи
			span(ng-bind='users.length')
		br
		a.admin-tweets(href='/admin/tweets')
			p Твиты
			span(ng-bind='tweets.length')