//- MIXINS
include ../../includes/data-fields

.main-wrap

	// HEADER
	include header/header
	+header

	// CONTENT
	include ../../common/content
	//- (removeElem, text, admin)
	+content(true, 'Твиттов пока нету', true)