.main-wrap

	// HEADER
	include header/header
	+header

	// CONTENT
	section.admin-users-tweets
		input(type='text' ng-model='findUser' placeholder='Найти пользователя' autofocus)
		br
		label(for='show-admin')
			| Админы
			input#show-admin(type='checkbox' ng-model='onlyAdmins')
		ul
			li(ng-repeat='user in users | filter:findUser' ng-if='showAdmins(user)')

				//- avatar (click = make admin)
				a.avatar(
					style='background-image: url(/img/{{user.avatar}})'
					ng-style='user.isAdmin && {"border": "3px solid #18B342"}'
					ng-click='makeAdmin(user._id)'
				)

				a(href='/{{user.username}}' ng-bind='user.username')

				.wrap-bts-block-remove-user
					button(
						class='fa fa-lock'
						ng-style='user.block && {"color": "red"}'
						ng-click='toggleBlockUser(user._id)'
					)
					button(class='fa fa-times' ng-click='deleteProfile(user._id)')